
body{
    background:#f5f7fb;
}

.sidebar{
    background:#081b3a;
}

.dashboard-card{
    border:none;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.stat-card{
    border:none;
    border-radius:20px;
    background:white;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.stat-number{
    font-size:32px;
    font-weight:bold;
    color:#2563eb;
}

.table-card{
    border:none;
    border-radius:20px;
    background:white;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}
